WebApplication1/Service References/VC/VerifyCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VerifyCodeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VerifyCodeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CodeCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPass" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeCheckResult" nillable="true" type="tns:CodeCheckResult" />
</xs:schema>