WebApplication1/Service References/VC/VerifyCode1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/VerifyCode.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VerifyCodeService" />
  <xs:element name="CheckVerifyCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GPS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Validate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckVerifyCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VerifyCodeService" minOccurs="0" name="CheckVerifyCodeResult" nillable="true" type="q1:CodeCheckResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>