WebApplication1/Service References/FundWebService/FundWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFirstTransMoney">
        <s:complexType />
      </s:element>
      <s:element name="GetFirstTransMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirstTransMoneyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFirstTransMoneySoapIn">
    <wsdl:part name="parameters" element="tns:GetFirstTransMoney" />
  </wsdl:message>
  <wsdl:message name="GetFirstTransMoneySoapOut">
    <wsdl:part name="parameters" element="tns:GetFirstTransMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="FundWebServiceSoap">
    <wsdl:operation name="GetFirstTransMoney">
      <wsdl:input message="tns:GetFirstTransMoneySoapIn" />
      <wsdl:output message="tns:GetFirstTransMoneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FundWebServiceSoap" type="tns:FundWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFirstTransMoney">
      <soap:operation soapAction="http://tempuri.org/GetFirstTransMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FundWebServiceSoap12" type="tns:FundWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFirstTransMoney">
      <soap12:operation soapAction="http://tempuri.org/GetFirstTransMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FundWebService">
    <wsdl:port name="FundWebServiceSoap" binding="tns:FundWebServiceSoap">
      <soap:address location="http://114.80.234.152/GuideService/FundWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="FundWebServiceSoap12" binding="tns:FundWebServiceSoap12">
      <soap12:address location="http://114.80.234.152/GuideService/FundWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>